* {
    margin:0;
    padding:0;
  }
  nav {
    position :fixed;
    top:0px;
    width:100%;
    background-color:lightseagreen;
    display:flex;
    justify-content : space-between;
  }
  nav h1{
    margin: 10px;
  }
  
  #mesLiensNav {
    display:flex;
    list-style:none;
  }
  #mesLiensNav li{
    padding: 3px;
    margin:10px;
  }
  #mesLiensNav li a{
    color:black;
    text-decoration:none;
  }
  
  #mesLiensNav li:hover, #mesLiensNav li a:hover{
    color:lightseagreen;
    text-decoration:none;
    background-color:black;
  }